:root {
    --branco: #FFFFFF;
    --cor-fundo: #E0E1DD;
    --azul: #778DA9;
    --azul-escuro: #415A77;
    --texto-claro: #ADB5BD;
    --texto-escuro: #343A40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    cursor: url('cursor.png'), auto;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo);
    color: var(--texto-claro);
}

main {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px 0;
}

h1 {
    color: var(--texto-escuro);
    text-align: center;
}

button, input {
    height: 50px;
    width: 100%;
    border-radius: 15px;
    outline: none;
}

.qr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 300px;
    aspect-ratio: 1/1;
    background-color: var(--branco);
    border-radius: 20px;
    padding: 20px;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

#link-input.input-erro {
  border: 2px solid #e5383b;
  animation: shake 0.4s ease-in-out;
}

#link-input {
    padding: 10px;
    border: 2px solid var(--azul);
}

#link-input:focus {
    outline: none;
    border: 2px solid var(--azul-escuro);
}


#gerar-btn {
    font-weight: 600;
    color: var(--branco);
    background-color: var(--azul);
    border: none;
}

#gerar-btn:hover {
    background-color: var(--azul-escuro);
    transition: all .2s ease;
}

#baixar-btn:disabled {
    background-color: var(--cor-fundo);
    border: 2px solid var(--texto-claro);
    color: var(--texto-claro);
}

#baixar-btn:disabled:hover {
    background-color: var(--cor-fundo);
    border: 2px solid var(--texto-claro);
    color: var(--texto-claro);
}

#baixar-btn {
    font-weight: 600;
    background-color: var(--branco);
    border: 2px solid var(--azul);
    color: var(--azul);
}

#baixar-btn:hover {
    background-color: var(--azul);
    border: 2px solid var(--azul-escuro);
    color: var(--branco);
    transition: all .2s ease;
}

.redes-sociais {
    display: flex;
    gap: 30px;
    font-size: 30px;
}

.redes-sociais a {
    color: var(--azul);
    transition: transform .2s ease-in-out;
}

.redes-sociais a:hover {
    color: var(--azul);
    transform: translateY(-7px) scale(1.2);
}